[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[4AF60AD2F60ABE67]
row=1
col=0

[D84AC2554AC22FD4]
row=4
col=0

[0ED2ED7ED2ED6A83]
row=0
col=0

[DC46EDD746EDB286]
row=3
col=0

[FE5A5DBF5A5D757D]
row=2
col=0

[Trash]
row=5
col=0

[/]
row=6
col=0

[/home/lh]
row=7
col=0

